* {
  box-sizing: border-box;
}

.cards {
  background: #ccc;
  display: flex;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  margin: 10px;
  width: calc(25% - 20px);
  height: 350px;
}

.card-content {
  height: calc(100% - 150px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-content h3{
  margin-top: 0;
}
.card-image {
  height: 150px;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 14;
}

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
/* TABLET İÇİN */
@media (max-width: 1000px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .card {
    width: calc(100% - 20px);
    display: flex;
    height: auto;
    padding: 10px;
  }

  .card-content {
    height: auto;
  }
}
